/* HomePage */
header{
    display: flex;
    justify-content: space-around;
    background-color: black;
    background: radial-gradient(circle farthest-side,darkblue, black);
    padding: 10px;
}

header >ul{
    display: flex;
    justify-content: space-between;
    line-height: 50px;
}

header li {
  list-style-type: none;
    font-size: 20px;
    margin: 0 50px;
}
header a{
    color: aqua;
    text-decoration: none;
    font-size: 25px;
}
header a:hover{
    color: white;
}
.rond{
    width: 100px;
    padding: 20px;
    border: black 1px solid;
    border-radius: 50%;
    background-color: fuchsia;
}

.rond:hover{
    color: white;
    background-color: palevioletred;
}

.accueil{
    display: flex;
    justify-content: space-around;
    padding: 100px 0;
}

.accueil h2{
    width: 30%;
    text-align: center;
}

.accueil h2:hover{
    text-decoration: underline;
}
.accueil a{
    color: black;
    text-decoration: none;
}

.picture{
    width: 100%;
}
.resp{
    width: 100%;
    height: auto;
}

footer{
    display: flex;
    justify-content: center;
    background-color: black;
    background: radial-gradient(circle farthest-side,darkblue, black);
    padding: 30px;
    margin: 0;
}


/*page allartiles*/
.report{
    width: 80%;
    margin: auto;
}

.article{
    width: 30%;
    margin: 30px 20px;
    text-align: center;
}

.article a{
    text-decoration: none;
}

.article a:hover{
    text-decoration: underline;
}

.affichage{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


/*theartcles*/

.image{
    margin-bottom: 50px;
}

.larticle{
    width: 1000px;
    margin: auto;
    padding: 50px 0;
}
.larticle > h1{
    font-size: 40px;
    text-align: center;
}

/*Resume*/

.resume{
    display: flex;
    margin: 50px 20px;
}

.resume a{
    text-decoration: none;
    color: black;
}

.resume a:hover{
    text-decoration: underline;
    color: darkblue;
}

.pics{
    width: 20%;
    margin-right: 20px;
}
