{% extends 'base.html.twig' %}
{% block content %}



           <article>
               <div class="picture">
                   <img src="{{ articles.image }}" class="resp">
               </div>
               <h1>{{ articles.title }}</h1>
               <p>{{ articles.content }}</p>
           </article>



    </ul>

{% endblock content %}
