{% extends 'Base.html.twig' %}
{% block content %}



           <article class="larticle">
               <div class="image">
                   <img src="{{ articles.image }}" class="resp">
               </div>
               <h1>{{ articles.title }}</h1>
               <p>{{ articles.content }}</p>
           </article>



    </ul>

{% endblock content %}
